In [1]:
import pandas as pd

In [2]:
# read csvs as data frames
kashira = pd.read_csv('files/kashira.csv').astype(str)
kashira_images = pd.read_csv('files/kashira_images.csv').astype(str)

In [3]:
kashira = kashira.rename(columns = {'id':'kashira_id','name':'label','name_kanji':'label_ka','sortable_field_japanese':'sort_ja'})
kashira_images = kashira_images.rename(columns = {'visual_id':'image_id'})
kashira.head()

  kashira_id           label label_ka  category   sort_ja
0          1        Amanjaku   あまんじゃく   Special    あまんじゃく
1          2           Ebisu      恵比須   Special       えびす
2          3          Ōshūto       大舅      Male    おおしゅうと
3          4      Ōdanshichi      大団七      Male    おおだんしち
4          5  Ochō no kodomo    お蝶の子供  Children  おちょうのこども

In [4]:
def multiValDataFrame(df, table_id, multival_id):
    new_df = pd.DataFrame({})
    cols = df.columns
    id_list = df[table_id].unique()
    for i in id_list:
        temp_row = df.loc[df[table_id] == i ]
        vals = []
        for col in cols:
            vals.append(temp_row[:1][col].values[0])

        temp_dict = dict(zip(cols, vals))
        multi_id_list = list(temp_row[multival_id])
    
        temp_dict[multival_id] = multi_id_list
    
        new_df = new_df.append(temp_dict, ignore_index=True)
    return new_df

In [5]:
# update author dataframe with inner join of play_ids.
kashira = pd.merge(kashira, kashira_images, on='kashira_id', how='outer')
# combine combine multiple plays per author into one row per author
kashira = multiValDataFrame(kashira, 'kashira_id', 'image_id')

In [7]:
kashira = kashira.fillna('')
kashira.head()

,category,image_id,kashira_id,label,label_ka,sort_ja
0,Special,[nan],1,Amanjaku,あまんじゃく,あまんじゃく
1,Special,[nan],2,Ebisu,恵比須,えびす
2,Male,"[8281, 8282, 8283, 8284, 8287, 8289, 8291, 829...",3,Ōshūto,大舅,おおしゅうと
3,Male,"[8667, 8669, 8670, 8671, 8672, 8676, 8687, 868...",4,Ōdanshichi,大団七,おおだんしち
4,Children,[nan],5,Ochō no kodomo,お蝶の子供,おちょうのこども

In [8]:
kashira = kashira[['kashira_id','label','label_ka','category','image_id','sort_ja']]

In [9]:
csvname = 'kashira_exp.csv'
kashira.to_csv(csvname, encoding='utf8', index=False)

In [10]:
jsonname = 'kashira_exp.json'
kashira.to_json(jsonname, orient='records', force_ascii=False)