In [1]:
import pandas as pd

In [2]:
play_11 = pd.read_json('json/play_11_test.json')

In [3]:
author_table = pd.read_csv('original_csvs/authors_exp.csv').astype(str)
character_table = pd.read_csv('original_csvs/characters.csv').astype(str)
image_table = pd.read_csv('original_csvs/imagesonline.csv').astype(str)
performance_table = pd.read_csv('original_csvs/performances.csv').drop('data_id',1).astype(str)

In [4]:
author_list = play_11['author_id'].values[0]
character_list = play_11['character_id'].values[0]
image_list = play_11['image_id'].values[0]
performance_list = play_11['performance_id'].values[0]
print str(len(author_list)) + "," + str(len(character_list)) + "," + str(len(image_list)) + "," + str(len(performance_list))

1,19,2,6

In [5]:
play_11_authors = pd.DataFrame({})
play_11_characters = pd.DataFrame({})
play_11_images = pd.DataFrame({})
play_11_performances = pd.DataFrame({})

In [6]:
def linkedDataFrame(starting_frame, id_name, id_num_list, new_frame):
    cols =  starting_frame.columns
    for i in id_num_list:
        vals = []
        temp_row = starting_frame.loc[starting_frame[id_name] == str(i) ]
        for col in cols:
            vals.append(temp_row[:1][col].values[0])
        temp_dict = dict(zip(cols, vals))
        new_frame = new_frame.append(temp_dict, ignore_index=True)
    return new_frame

In [7]:
play_11_authors = linkedDataFrame(author_table, 'author_id', author_list, play_11_authors)
play_11_authors.head()
# play_11_authors.to_json('play_11_authors.json',orient='records', force_ascii=False)

,author_id,dates,label,label_ka,play_id,reference,sort_ja
0,4,d. 1786 or 7,Chikamatsu Hanji,近松半二,"[11, 21, 25, 27, 29, 33, 52, 79, 80, 90, 101, ...",LC Authorities,ちかまつはんじ

In [8]:
play_11_characters = linkedDataFrame(character_table, 'character_id', character_list, play_11_characters)
# play_11_characters.to_json('play_11_characters.json',orient='records', force_ascii=False)

In [9]:
play_11_images = linkedDataFrame(image_table, 'image_id', image_list, play_11_images)
# play_11_images.to_json('play_11_images.json', orient='records', force_ascii=False)

In [10]:
play_11_performances = linkedDataFrame(performance_table, 'performance_id', performance_list, play_11_performances)
# play_11_performances.to_json('play_11_performances.json', orient='records', force_ascii=False)