In [1]:
import pandas as pd

In [2]:
plays_in = pd.read_json('in/_plays.json')
play_11 = plays_in.loc[plays_in['id'] == 11 ]

play_11

,author_id,character_id,first_staged,id,image_id,label_eng,label_eng_sort,label_ja,label_ja_sort,label_ka,performance_id,reference,sort_ja
9,[4],"[647, 648, 649, 650, 651, 652, 653, 654, 655, ...",1770,11,"[45803, 52683]",The Three Generations of Kamakura Shoguns,"Three Generations of Kamakura Shoguns, The",Kamakura sandaiki,Kamakura sandaiki,鎌倉三代記,"[163, 322, 442, 701, 749, 909]","Keene, Donald, Bunraku: The Art of the Japanes...",かまくらさんだいき

In [3]:
authors_in = pd.read_json('in/_authors.json')
characters_in = pd.read_json('in/_characters.json')
images_in = pd.read_json('in/_images.json')
kashira_in = pd.read_json('in/_kashira.json')
performances_in = pd.read_json('in/_performances.json')
productions_in = pd.read_json('in/_productions.json')
tags_in = pd.read_json('in/_tags.json')

In [4]:
play_11 = play_11.rename(columns={'play_id':'id'})
play_11 = play_11[['id','first_staged','label_eng','label_eng_sort','label_ja','label_ja_sort','label_ka','reference','sort_ja','author_id','character_id','performance_id','image_id']]

In [124]:
play_11.head()

,id,first_staged,label_eng,label_eng_sort,label_ja,label_ja_sort,label_ka,reference,sort_ja,author_id,character_id,performance_id,image_id
9,11,1770,The Three Generations of Kamakura Shoguns,"Three Generations of Kamakura Shoguns, The",Kamakura sandaiki,Kamakura sandaiki,鎌倉三代記,"Keene, Donald, Bunraku: The Art of the Japanes...",かまくらさんだいき,[4],"[647, 648, 649, 650, 651, 652, 653, 654, 655, ...","[163, 322, 442, 701, 749, 909]","[45803, 52683]"

In [125]:
def linked_df(main_df, linked_df, identifier):
    temp_df = pd.DataFrame({})
    id_list_of_lists = main_df[identifier]
    idl = []
    for id_list in id_list_of_lists:
        id_list = list(id_list)
        idl=list(set(idl+id_list))
    for i in idl:
        temp_row = linked_df.loc[linked_df['id'] == int(i) ]
        temp_df = temp_df.append(temp_row, ignore_index=True)
    return temp_df

In [126]:
# round 1, from play 11
authors_out = linked_df(play_11, authors_in, 'author_id')
characters_out = linked_df(play_11, characters_in, 'character_id')
images_out = linked_df(play_11, images_in, 'image_id')
performances_out = linked_df(play_11, performances_in, 'performance_id')

In [127]:
# round 2, plays from author 4
plays_out = linked_df(authors_out, plays_in, 'play_id')

In [128]:
authors_out = linked_df(plays_out, authors_in, 'author_id')

In [129]:
performances_out = linked_df(plays_out, performances_in, 'performance_id')

In [130]:
plays_temp = plays_out.dropna(subset = ['image_id'])
images_out = linked_df(plays_temp, images_in, 'image_id')

In [131]:
images_temp = images_out.dropna(subset = ['tag_id'])
tags_out = linked_df(images_temp, tags_in, 'tag_id')

In [132]:
# authors_out.to_json('authors_out.json', orient="records", force_ascii=False)
# characters_out.to_json('characters_out.json', orient="records", force_ascii=False)
# images_out.to_json('images_out.json', orient="records", force_ascii=False)
# performances_out.to_json('performances_out.json', orient="records", force_ascii=False)
# plays_out.to_json('plays_out.json', orient="records", force_ascii=False)
# tags_out.to_json('tags_out.json', orient="records", force_ascii=False)