In [1]:
import pandas as pd

In [2]:
# read csvs as data frames
# cast as string to avoid float/NaN errors

characters = pd.read_csv('in/characters.csv', dtype=object)
char_plays = pd.read_csv('in/characters_plays.csv', dtype=object)
char_imgs = pd.read_csv('in/characters_images.csv', dtype=object)
imagesonline = pd.read_csv('in/imagesonline.csv', dtype=object)

In [3]:
# clean out non-online images
imagesonline = imagesonline[['image_id']]
char_imgs = pd.merge(char_imgs, imagesonline, on='image_id', how='inner')

NameError: name 'imagesonline' is not defined

In [4]:
char_imgs.head()

  character_id image_id
0          452     8281
1          453     8281
2          454     8281
3          455     8281
4          456     8281

In [5]:
# multiValDataFrame takes a dataframe df, column name df_index and column name multival_key
# it merges records with the same df_index and updates multival_index to an array of all the multival_index values.
# E.g for a data frame plays with multiple character_id values per play_id, returns a data frame with one record 
# per play_id, and one array of character_ids per play.

def multiValDataFrame(df, df_index, multival_key):
    new_df = pd.DataFrame({})
    cols = df.columns
    id_list = df[df_index].unique()
    for i in id_list:
        temp_row = df.loc[df[df_index] == i ]
        vals = []
        for col in cols:
            vals.append(temp_row[:1][col].values[0])

        temp_dict = dict(zip(cols, vals))
        multi_id_list = list(temp_row[multival_key])
    
        temp_dict[multival_key] = multi_id_list
    
        new_df = new_df.append(temp_dict, ignore_index=True)
    return new_df

In [6]:
# Left join to add play_ids to characters dataframe
characters = pd.merge(characters, char_plays, on='character_id', how='left')

# combine multiple plays per character into one record per character
characters = multiValDataFrame(characters, 'character_id', 'play_id')

In [7]:
# Left join to add image_ids to characters dataframe
characters = pd.merge(characters, char_imgs, on='character_id', how='left')

# combine multiple plays per character into one record per character
characters = multiValDataFrame(characters, 'character_id', 'image_id')

In [8]:
characters = characters.rename(columns = {'character_id':'id'})

In [10]:
characters = characters[['id','label_eng','label_ja','label_ka','play_id','image_id','authority_control']]

In [12]:
# save final dataframe to csv file
characters.to_csv('characters_exp.csv', encoding='utf8', index=False)

In [13]:
# save final dataframe to json file
characters.to_json('characters_exp.json', orient='records', force_ascii=False)

In [11]:
characters.head()

,id,label_eng,label_ja,label_ka,play_id,image_id,authority_control
0,1,Farmer,Oyaji,おやじ,[162],[56170],August 1989 Program
1,2,Farmer's wife,Nyōbō,女房,[162],[nan],August 1989 Program
2,3,"Magotaro, a horse","Magotarō, Uma",孫太郎（馬）,[162],[nan],August 1989 Program
3,4,Local governor,Odaikan,お代官,[162],[nan],August 1989 Program
4,5,Local governor's assistant,Odaikan no kobun,お代官のこぶん,[162],[nan],August 1989 Program