# Task: Output Bunraku authors to json list using authors_plays join table to grab an array of play_ids for each author.

_________________

In [1]:
import pandas as pd

In [9]:
# read csvs as data frames
authors = pd.read_csv('authors.csv').astype(str)
play_auth = pd.read_csv('authors_plays.csv').astype(str)
authors = authors.fillna('')

In [3]:
authors.head()

,author_id,label,label_ka,dates,reference,sort_ja
0,1,Asada Icchō,浅田一鳥,fl. 1741-1767,LC Authorities,あさだいっちょう
1,2,Ashikawa Teruha,芦川照葉,nan,LC Authorities,あしかわてるは
2,4,Chikamatsu Hanji,近松半二,d. 1786 or 7,LC Authorities,ちかまつはんじ
3,5,Chikamatsu Kosuiken,近松湖水軒,nan,"繪本太功記 / 近松やなぎ, 近松湖水軒, 千葉軒合作, 東京 : 金櫻堂, 1890.12...",ちかまつこすいけん
4,6,Chikamatsu Monzaemon,近松門左衛門,nan,LC Authorities,ちかまつもんざえもん

In [4]:
def multiValDataFrame(df, table_id, multival_id):
    new_df = pd.DataFrame({})
    cols = df.columns
    id_list = df[table_id].unique()
    for i in id_list:
        temp_row = df.loc[df[table_id] == i ]
        vals = []
        for col in cols:
            vals.append(temp_row[:1][col].values[0])

        temp_dict = dict(zip(cols, vals))
        multi_id_list = list(temp_row[multival_id])
    
        temp_dict[multival_id] = multi_id_list
    
        new_df = new_df.append(temp_dict, ignore_index=True)
    return new_df

In [5]:
# update author dataframe with inner join of play_ids.
authors = pd.merge(authors, play_auth, on='author_id', how='outer')
# combine combine multiple plays per author into one row per author
authors = multiValDataFrame(authors, 'author_id', 'play_id')
# drop na for ''

In [6]:
authors.head()

,author_id,dates,label,label_ka,play_id,reference,sort_ja
0,1,fl. 1741-1767,Asada Icchō,浅田一鳥,"[19, 72, 105, 122]",LC Authorities,あさだいっちょう
1,2,nan,Ashikawa Teruha,芦川照葉,[173],LC Authorities,あしかわてるは
2,4,d. 1786 or 7,Chikamatsu Hanji,近松半二,"[11, 21, 25, 27, 29, 33, 52, 79, 80, 90, 101, ...",LC Authorities,ちかまつはんじ
3,5,nan,Chikamatsu Kosuiken,近松湖水軒,[16],"繪本太功記 / 近松やなぎ, 近松湖水軒, 千葉軒合作, 東京 : 金櫻堂, 1890.12...",ちかまつこすいけん
4,6,nan,Chikamatsu Monzaemon,近松門左衛門,"[1, 2, 3, 4, 7, 8, 17, 24, 28, 34, 40, 41, 54,...",LC Authorities,ちかまつもんざえもん

In [7]:
# csvname = 'authors_exp.csv'
# authors.to_csv(filename, encoding='utf8')
# save final dataframe to json file
# jsonname = 'authors_exp.json'
# authors.to_json(jsonname, orient="records", force_ascii=False)