In [1]:
import pandas as pd

In [2]:
pd.set_option('max_colwidth',1000)
pd.set_option('max_seq_items','none')
# read csvs as data frames
images = pd.read_csv('imagesonline.csv').astype(str)
characters_images = pd.read_csv('characters_images.csv').astype(str) 
kashira_images = pd.read_csv('kashira_images.csv').astype(str) 
performances_images = pd.read_csv('performances_images.csv').astype(str) 
performers_images = pd.read_csv('performers_images.csv').astype(str)
plays_images = pd.read_csv('plays_images.csv').astype(str) 
productions_images = pd.read_csv('productions_images.csv').astype(str) 
scenes_images = pd.read_csv('scenes_images.csv').astype(str) 
tags_images = pd.read_csv('tags_images.csv').astype(str)

In [3]:
images = images.drop('online', 1)

In [4]:
images.head()

,image_id,colser_id,series_number,sequence_number,item_id,media_type,slidepage_folder_no,container_type,container_number,notes_on_item,creator,objid
0,8281,2,2.0,0001,0001,slide,452.0,Slide Binder,46.0,2,Barbara C. Adachi,ldpd_bun_slide_452_2_0001_0001
1,8282,2,2.0,0002,0002,slide,452.0,Slide Binder,46.0,6,Barbara C. Adachi,ldpd_bun_slide_452_2_0002_0002
2,8283,2,2.0,0003,0003,slide,452.0,Slide Binder,46.0,7,Barbara C. Adachi,ldpd_bun_slide_452_2_0003_0003
3,8284,2,2.0,0004,0004,slide,452.0,Slide Binder,46.0,0,Barbara C. Adachi,ldpd_bun_slide_452_2_0004_0004
4,8285,2,2.0,0005,0005,slide,452.0,Slide Binder,46.0,4,Barbara C. Adachi,ldpd_bun_slide_452_2_0005_0005

In [5]:
def multiValDataFrame(df, table_id, multival_id):
    new_df = pd.DataFrame({})
    cols = df.columns
    id_list = df[table_id].unique()

    for i in id_list:
        temp_row = df.loc[df[table_id] == i ]
        vals = []
        for col in cols:
            vals.append(temp_row[:1][col].values[0])

        temp_dict = dict(zip(cols, vals))
        multi_id_list = list(temp_row[multival_id])
    
        temp_dict[multival_id] = multi_id_list
        
        new_df = new_df.append(temp_dict, ignore_index=True)
    return new_df

In [6]:
# merge and multival characters
images = pd.merge(images, characters_images, on='image_id', how='outer')

In [7]:
images = multiValDataFrame(images, 'image_id', 'character_id')

In [8]:
images.head()

,character_id,colser_id,container_number,container_type,creator,image_id,item_id,media_type,notes_on_item,objid,sequence_number,series_number,slidepage_folder_no
0,"[452, 453, 454, 455, 456, 2312]",2,46.0,Slide Binder,Barbara C. Adachi,8281,0001,slide,2,ldpd_bun_slide_452_2_0001_0001,0001,2.0,452.0
1,"[452, 453, 454, 455, 456, 2312]",2,46.0,Slide Binder,Barbara C. Adachi,8282,0002,slide,6,ldpd_bun_slide_452_2_0002_0002,0002,2.0,452.0
2,"[452, 453, 454, 455, 456, 2312]",2,46.0,Slide Binder,Barbara C. Adachi,8283,0003,slide,7,ldpd_bun_slide_452_2_0003_0003,0003,2.0,452.0
3,"[453, 454, 455, 452, 2312]",2,46.0,Slide Binder,Barbara C. Adachi,8284,0004,slide,0,ldpd_bun_slide_452_2_0004_0004,0004,2.0,452.0
4,"[452, 454, 2312]",2,46.0,Slide Binder,Barbara C. Adachi,8285,0005,slide,4,ldpd_bun_slide_452_2_0005_0005,0005,2.0,452.0

In [9]:
# merge and multival kashira
images = pd.merge(images, kashira_images, on='image_id', how='outer')

In [10]:
images = multiValDataFrame(images, 'image_id', 'kashira_id')

In [11]:
images.head()

,character_id,colser_id,container_number,container_type,creator,image_id,item_id,kashira_id,media_type,notes_on_item,objid,sequence_number,series_number,slidepage_folder_no
0,"[452, 453, 454, 455, 456, 2312]",2,46.0,Slide Binder,Barbara C. Adachi,8281,0001,"[33, 3, 35, 106, 77]",slide,2,ldpd_bun_slide_452_2_0001_0001,0001,2.0,452.0
1,"[452, 453, 454, 455, 456, 2312]",2,46.0,Slide Binder,Barbara C. Adachi,8282,0002,"[33, 3, 35, 106, 77]",slide,6,ldpd_bun_slide_452_2_0002_0002,0002,2.0,452.0
2,"[452, 453, 454, 455, 456, 2312]",2,46.0,Slide Binder,Barbara C. Adachi,8283,0003,"[33, 3, 35, 106, 77]",slide,7,ldpd_bun_slide_452_2_0003_0003,0003,2.0,452.0
3,"[453, 454, 455, 452, 2312]",2,46.0,Slide Binder,Barbara C. Adachi,8284,0004,"[3, 35, 33, 77]",slide,0,ldpd_bun_slide_452_2_0004_0004,0004,2.0,452.0
4,"[452, 454, 2312]",2,46.0,Slide Binder,Barbara C. Adachi,8285,0005,"[33, 35, 77]",slide,4,ldpd_bun_slide_452_2_0005_0005,0005,2.0,452.0

In [12]:
# merge and multival performances
images = pd.merge(images, performances_images, on='image_id', how='outer')

In [14]:
images = multiValDataFrame(images, 'image_id', 'performance_id')

In [15]:
images.head()

,character_id,colser_id,container_number,container_type,creator,image_id,item_id,kashira_id,media_type,notes_on_item,objid,performance_id,sequence_number,series_number,slidepage_folder_no
0,"[452, 453, 454, 455, 456, 2312]",2,46.0,Slide Binder,Barbara C. Adachi,8281,0001,"[33, 3, 35, 106, 77]",slide,2,ldpd_bun_slide_452_2_0001_0001,[310],0001,2.0,452.0
1,"[452, 453, 454, 455, 456, 2312]",2,46.0,Slide Binder,Barbara C. Adachi,8282,0002,"[33, 3, 35, 106, 77]",slide,6,ldpd_bun_slide_452_2_0002_0002,[310],0002,2.0,452.0
2,"[452, 453, 454, 455, 456, 2312]",2,46.0,Slide Binder,Barbara C. Adachi,8283,0003,"[33, 3, 35, 106, 77]",slide,7,ldpd_bun_slide_452_2_0003_0003,[310],0003,2.0,452.0
3,"[453, 454, 455, 452, 2312]",2,46.0,Slide Binder,Barbara C. Adachi,8284,0004,"[3, 35, 33, 77]",slide,0,ldpd_bun_slide_452_2_0004_0004,[310],0004,2.0,452.0
4,"[452, 454, 2312]",2,46.0,Slide Binder,Barbara C. Adachi,8285,0005,"[33, 35, 77]",slide,4,ldpd_bun_slide_452_2_0005_0005,[310],0005,2.0,452.0

In [16]:
# merge and multival performers
images = pd.merge(images, performers_images, on='image_id', how='outer')

In [17]:
images = multiValDataFrame(images, 'image_id', 'performer_id')

In [20]:
images.head()

,character_id,colser_id,container_number,container_type,creator,image_id,item_id,kashira_id,media_type,notes_on_item,objid,performance_id,performer_id,sequence_number,series_number,slidepage_folder_no
0,"[452, 453, 454, 455, 456, 2312]",2,46.0,Slide Binder,Barbara C. Adachi,8281,0001,"[33, 3, 35, 106, 77]",slide,2,ldpd_bun_slide_452_2_0001_0001,[310],[nan],0001,2.0,452.0
1,"[452, 453, 454, 455, 456, 2312]",2,46.0,Slide Binder,Barbara C. Adachi,8282,0002,"[33, 3, 35, 106, 77]",slide,6,ldpd_bun_slide_452_2_0002_0002,[310],[nan],0002,2.0,452.0
2,"[452, 453, 454, 455, 456, 2312]",2,46.0,Slide Binder,Barbara C. Adachi,8283,0003,"[33, 3, 35, 106, 77]",slide,7,ldpd_bun_slide_452_2_0003_0003,[310],[nan],0003,2.0,452.0
3,"[453, 454, 455, 452, 2312]",2,46.0,Slide Binder,Barbara C. Adachi,8284,0004,"[3, 35, 33, 77]",slide,0,ldpd_bun_slide_452_2_0004_0004,[310],[nan],0004,2.0,452.0
4,"[452, 454, 2312]",2,46.0,Slide Binder,Barbara C. Adachi,8285,0005,"[33, 35, 77]",slide,4,ldpd_bun_slide_452_2_0005_0005,[310],[nan],0005,2.0,452.0

In [21]:
# merge and multival plays
images = pd.merge(images, plays_images, on='image_id', how='outer')

In [22]:
images = multiValDataFrame(images, 'image_id', 'play_id')

In [25]:
images.head()

,character_id,colser_id,container_number,container_type,creator,image_id,item_id,kashira_id,media_type,notes_on_item,objid,performance_id,performer_id,play_id,sequence_number,series_number,slidepage_folder_no
0,"[452, 453, 454, 455, 456, 2312]",2,46.0,Slide Binder,Barbara C. Adachi,8281,0001,"[33, 3, 35, 106, 77]",slide,2,ldpd_bun_slide_452_2_0001_0001,[310],[nan],[26],0001,2.0,452.0
1,"[452, 453, 454, 455, 456, 2312]",2,46.0,Slide Binder,Barbara C. Adachi,8282,0002,"[33, 3, 35, 106, 77]",slide,6,ldpd_bun_slide_452_2_0002_0002,[310],[nan],[26],0002,2.0,452.0
2,"[452, 453, 454, 455, 456, 2312]",2,46.0,Slide Binder,Barbara C. Adachi,8283,0003,"[33, 3, 35, 106, 77]",slide,7,ldpd_bun_slide_452_2_0003_0003,[310],[nan],[26],0003,2.0,452.0
3,"[453, 454, 455, 452, 2312]",2,46.0,Slide Binder,Barbara C. Adachi,8284,0004,"[3, 35, 33, 77]",slide,0,ldpd_bun_slide_452_2_0004_0004,[310],[nan],[26],0004,2.0,452.0
4,"[452, 454, 2312]",2,46.0,Slide Binder,Barbara C. Adachi,8285,0005,"[33, 35, 77]",slide,4,ldpd_bun_slide_452_2_0005_0005,[310],[nan],[26],0005,2.0,452.0

In [26]:
# merge and multival productions
images = pd.merge(images, productions_images, on='image_id', how='outer')

In [27]:
images = multiValDataFrame(images, 'image_id', 'production_id')

In [28]:
images.head()

,character_id,colser_id,container_number,container_type,creator,image_id,item_id,kashira_id,media_type,notes_on_item,objid,performance_id,performer_id,play_id,production_id,sequence_number,series_number,slidepage_folder_no
0,"[452, 453, 454, 455, 456, 2312]",2,46.0,Slide Binder,Barbara C. Adachi,8281,0001,"[33, 3, 35, 106, 77]",slide,2,ldpd_bun_slide_452_2_0001_0001,[310],[nan],[26],[86],0001,2.0,452.0
1,"[452, 453, 454, 455, 456, 2312]",2,46.0,Slide Binder,Barbara C. Adachi,8282,0002,"[33, 3, 35, 106, 77]",slide,6,ldpd_bun_slide_452_2_0002_0002,[310],[nan],[26],[86],0002,2.0,452.0
2,"[452, 453, 454, 455, 456, 2312]",2,46.0,Slide Binder,Barbara C. Adachi,8283,0003,"[33, 3, 35, 106, 77]",slide,7,ldpd_bun_slide_452_2_0003_0003,[310],[nan],[26],[86],0003,2.0,452.0
3,"[453, 454, 455, 452, 2312]",2,46.0,Slide Binder,Barbara C. Adachi,8284,0004,"[3, 35, 33, 77]",slide,0,ldpd_bun_slide_452_2_0004_0004,[310],[nan],[26],[86],0004,2.0,452.0
4,"[452, 454, 2312]",2,46.0,Slide Binder,Barbara C. Adachi,8285,0005,"[33, 35, 77]",slide,4,ldpd_bun_slide_452_2_0005_0005,[310],[nan],[26],[86],0005,2.0,452.0

In [29]:
# merge and multival scenes
images = pd.merge(images, scenes_images, on='image_id', how='outer')

In [31]:
images = multiValDataFrame(images, 'image_id', 'scene_id')

In [32]:
images.head()

,character_id,colser_id,container_number,container_type,creator,image_id,item_id,kashira_id,media_type,notes_on_item,objid,performance_id,performer_id,play_id,production_id,scene_id,sequence_number,series_number,slidepage_folder_no
0,"[452, 453, 454, 455, 456, 2312]",2,46.0,Slide Binder,Barbara C. Adachi,8281,0001,"[33, 3, 35, 106, 77]",slide,2,ldpd_bun_slide_452_2_0001_0001,[310],[nan],[26],[86],[128],0001,2.0,452.0
1,"[452, 453, 454, 455, 456, 2312]",2,46.0,Slide Binder,Barbara C. Adachi,8282,0002,"[33, 3, 35, 106, 77]",slide,6,ldpd_bun_slide_452_2_0002_0002,[310],[nan],[26],[86],[128],0002,2.0,452.0
2,"[452, 453, 454, 455, 456, 2312]",2,46.0,Slide Binder,Barbara C. Adachi,8283,0003,"[33, 3, 35, 106, 77]",slide,7,ldpd_bun_slide_452_2_0003_0003,[310],[nan],[26],[86],[128],0003,2.0,452.0
3,"[453, 454, 455, 452, 2312]",2,46.0,Slide Binder,Barbara C. Adachi,8284,0004,"[3, 35, 33, 77]",slide,0,ldpd_bun_slide_452_2_0004_0004,[310],[nan],[26],[86],[128],0004,2.0,452.0
4,"[452, 454, 2312]",2,46.0,Slide Binder,Barbara C. Adachi,8285,0005,"[33, 35, 77]",slide,4,ldpd_bun_slide_452_2_0005_0005,[310],[nan],[26],[86],[128],0005,2.0,452.0

In [33]:
# merge and multival tags
images = pd.merge(images, tags_images, on='image_id', how='outer')

In [38]:
images = multiValDataFrame(images, 'image_id', 'subject_id')

In [40]:
images.rename(columns = {'subject_id':'tag_id'}, inplace = True)

In [42]:
list(images.columns)

['character_id',
 'colser_id',
 'container_number',
 'container_type',
 'creator',
 'image_id',
 'item_id',
 'kashira_id',
 'media_type',
 'notes_on_item',
 'objid',
 'performance_id',
 'performer_id',
 'play_id',
 'production_id',
 'scene_id',
 'sequence_number',
 'series_number',
 'slidepage_folder_no',
 'tag_id']

In [43]:
images = images[['image_id','media_type','character_id','tag_id','kashira_id','performance_id','performer_id','play_id','production_id','scene_id','container_number','container_type','creator','item_id','colser_id','notes_on_item','objid','sequence_number','series_number','slidepage_folder_no']]
images.head()

,image_id,media_type,character_id,tag_id,kashira_id,performance_id,performer_id,play_id,production_id,scene_id,container_number,container_type,creator,item_id,colser_id,notes_on_item,objid,sequence_number,series_number,slidepage_folder_no
0,8281,slide,"[452, 453, 454, 455, 456, 2312]","[43, 73]","[33, 3, 35, 106, 77]",[310],[nan],[26],[86],[128],46.0,Slide Binder,Barbara C. Adachi,0001,2,2,ldpd_bun_slide_452_2_0001_0001,0001,2.0,452.0
1,8282,slide,"[452, 453, 454, 455, 456, 2312]","[43, 73]","[33, 3, 35, 106, 77]",[310],[nan],[26],[86],[128],46.0,Slide Binder,Barbara C. Adachi,0002,2,6,ldpd_bun_slide_452_2_0002_0002,0002,2.0,452.0
2,8283,slide,"[452, 453, 454, 455, 456, 2312]","[43, 73]","[33, 3, 35, 106, 77]",[310],[nan],[26],[86],[128],46.0,Slide Binder,Barbara C. Adachi,0003,2,7,ldpd_bun_slide_452_2_0003_0003,0003,2.0,452.0
3,8284,slide,"[453, 454, 455, 452, 2312]","[43, 73]","[3, 35, 33, 77]",[310],[nan],[26],[86],[128],46.0,Slide Binder,Barbara C. Adachi,0004,2,0,ldpd_bun_slide_452_2_0004_0004,0004,2.0,452.0
4,8285,slide,"[452, 454, 2312]",[43],"[33, 35, 77]",[310],[nan],[26],[86],[128],46.0,Slide Binder,Barbara C. Adachi,0005,2,4,ldpd_bun_slide_452_2_0005_0005,0005,2.0,452.0

In [45]:
images = images.fillna('')

In [47]:
csvname = 'images_exp.csv'
images.to_csv(csvname, encoding='utf8')

In [48]:
jsonname = 'images_exp.json'
images.to_json(jsonname, orient='records', force_ascii=False)