In [1]:
import pandas as pd

In [2]:
plays_in = pd.read_json('in/_plays.json')
play_11 = plays_in.loc[plays_in['id'] == 11 ]

play_11

,author_id,character_id,first_staged,id,image_id,label_eng,label_eng_sort,label_ja,label_ja_sort,label_ka,performance_id,reference,sort_ja
9,[4],"[647, 648, 649, 650, 651, 652, 653, 654, 655, ...",1770,11,"[45803, 52683]",The Three Generations of Kamakura Shoguns,"Three Generations of Kamakura Shoguns, The",Kamakura sandaiki,Kamakura sandaiki,鎌倉三代記,"[163, 322, 442, 701, 749, 909]","Keene, Donald, Bunraku: The Art of the Japanes...",かまくらさんだいき

In [3]:
authors_in = pd.read_json('in/_authors.json')
characters_in = pd.read_json('in/_characters.json')
images_in = pd.read_json('in/_images.json')
kashira_in = pd.read_json('in/_kashira.json')
performances_in = pd.read_json('in/_performances.json')
productions_in = pd.read_json('in/_productions.json')
tags_in = pd.read_json('in/_tags.json')

In [4]:
play_11 = play_11.rename(columns={'play_id':'id'})
play_11 = play_11[['id','first_staged','label_eng','label_eng_sort','label_ja','label_ja_sort','label_ka','reference','sort_ja','author_id','character_id','performance_id','image_id']]

In [5]:
play_11.head()

,id,first_staged,label_eng,label_eng_sort,label_ja,label_ja_sort,label_ka,reference,sort_ja,author_id,character_id,performance_id,image_id
9,11,1770,The Three Generations of Kamakura Shoguns,"Three Generations of Kamakura Shoguns, The",Kamakura sandaiki,Kamakura sandaiki,鎌倉三代記,"Keene, Donald, Bunraku: The Art of the Japanes...",かまくらさんだいき,[4],"[647, 648, 649, 650, 651, 652, 653, 654, 655, ...","[163, 322, 442, 701, 749, 909]","[45803, 52683]"

In [6]:
author_list = play_11['author_id'].values[0]
character_list = play_11['character_id'].values[0]
images_list = play_11['image_id'].values[0]
performances_list = play_11['performance_id'].values[0]

In [22]:
def linked_df(main_df, linked_df, identifier):
    id_list = main_df[identifier].values[0]
    temp_df = pd.DataFrame({})
    for i in id_list:
        temp_row = linked_df.loc[linked_df['id'] == int(i) ]
        temp_df = temp_df.append(temp_row, ignore_index=True)
    return temp_df

In [23]:
authors_out = linked_df(play_11, authors_in, 'author_id')

In [24]:
authors_out

,dates,id,label_eng,label_ka,play_id,reference,sort_ja
0,d. 1786 or 7,4,Chikamatsu Hanji,近松半二,"[11, 21, 25, 27, 29, 33, 52, 79, 80, 90, 101, ...",LC Authorities,ちかまつはんじ