# Task: Output Bunraku plays to json list with arrays of author_ids, performance_ids, character_ids, and image_ids.

In [1]:
import pandas as pd
import math

In [28]:
pd.set_option('max_colwidth',10000)
pd.set_option('max_seq_items','none')
# read csvs as data frames
plays_df = pd.read_csv('plays.csv')
play_auth_df = pd.read_csv('authors_plays.csv') # done
play_char_df = pd.read_csv('characters_plays.csv') # done
play_img_df = pd.read_csv('plays_images.csv') # done
play_perf_df = pd.read_csv('performances.csv') # done

# play_perf_df = play_perf_df.drop('data_id',1)

In [29]:
plays_df.loc[plays_df['play_id'] == 39]

,play_id,label_ja,label_ja_sort,label_ka,sort_ja,label_eng,label_eng_sort,first_staged,reference
37,39,Kokaji,Kokaji,小鍛冶,こかじ,Kokaji the Swordsmith,Kokaji the Swordsmith,1939 or 1941,"Keene, Donald, Bunraku: The Art of the Japanese Puppet Theatre (Tokyo: Kodansha International, 1973); Hironaga, Shūzaburō, The Bunraku Handbook (Tokyo: Maison des Arts, 1976); Bunraku February 1977, July 1988 Performance Programs"

In [30]:
plays_a = pd.merge(plays_df, play_auth_df, on='play_id', how='outer')
plays_a.loc[plays_a['play_id'] == 39]

,play_id,label_ja,label_ja_sort,label_ka,sort_ja,label_eng,label_eng_sort,first_staged,reference,author_id
80,39,Kokaji,Kokaji,小鍛冶,こかじ,Kokaji the Swordsmith,Kokaji the Swordsmith,1939 or 1941,"Keene, Donald, Bunraku: The Art of the Japanese Puppet Theatre (Tokyo: Kodansha International, 1973); Hironaga, Shūzaburō, The Bunraku Handbook (Tokyo: Maison des Arts, 1976); Bunraku February 1977, July 1988 Performance Programs",87.0

In [31]:
play_id_list = list(plays_a.play_id.unique())

In [32]:
cols =  plays_a.columns

In [33]:
plays_temp_df = pd.DataFrame({})

In [34]:
for id_num in play_id_list:
    temp_play = plays_a.loc[plays_a['play_id'] == id_num]
    
    vals = []
    for col in cols:
        vals.append(temp_play[:1][col].values[0])
    
    temp_dict = dict(zip(cols, vals))
        
    temp_play_auths = list(temp_play['author_id'])
    
    temp_dict['author_id'] = temp_play_auths
    
    plays_temp_df = plays_temp_df.append(temp_dict, ignore_index=True)

In [35]:
plays_a = plays_temp_df

In [36]:
plays_ac = pd.merge(plays_a, play_char_df, on='play_id', how='outer')

In [37]:
cols =  plays_ac.columns
plays_temp_df = pd.DataFrame({})

In [38]:
for id_num in play_id_list:
    temp_play = plays_ac.loc[plays_ac['play_id'] == id_num ]
    vals = []
    for col in cols:
        vals.append(temp_play[:1][col].values[0])

    temp_dict = dict(zip(cols, vals))
    temp_play_chars = list(temp_play['character_id'])
    
    temp_dict['character_id'] = temp_play_chars
    
    plays_temp_df = plays_temp_df.append(temp_dict, ignore_index=True)

In [39]:
plays_ac = plays_temp_df

In [40]:
plays_aci = pd.merge(plays_ac, play_img_df, on='play_id', how='outer')

In [41]:
cols =  plays_aci.columns
plays_temp_df = pd.DataFrame({})

In [42]:
for id_num in play_id_list:
    temp_play = plays_aci.loc[plays_aci['play_id'] == id_num ]
    vals = []
    for col in cols:
        vals.append(temp_play[:1][col].values[0])

    temp_dict = dict(zip(cols, vals))
    temp_play_imgs = list(temp_play['image_id'])
    
    temp_dict['image_id'] = temp_play_imgs
    
    plays_temp_df = plays_temp_df.append(temp_dict, ignore_index=True)

In [43]:
plays_aci = plays_temp_df

In [44]:
play_perf_df = play_perf_df.drop('data_id', 1).drop('code', 1).drop('production_id',1)

In [45]:
plays_acip = pd.merge(plays_aci, play_perf_df, on='play_id', how='outer')

In [46]:
cols =  plays_acip.columns
plays_temp_df = pd.DataFrame({})

In [47]:
for id_num in play_id_list:
    temp_play = plays_acip.loc[plays_acip['play_id'] == id_num ]
    vals = []
    for col in cols:
        vals.append(temp_play[:1][col].values[0])

    temp_dict = dict(zip(cols, vals))
    temp_play_perfs = list(temp_play['performance_id'])
    
    temp_dict['performance_id'] = temp_play_perfs
    
    plays_temp_df = plays_temp_df.append(temp_dict, ignore_index=True)

In [48]:
plays_fin = plays_temp_df
plays_fin['play_id'] = plays_fin['play_id'].astype(int).astype(str)

plays_fin['character_id'] = plays_fin['character_id'].dropna()
plays_fin['performance_id'] = plays_fin['performance_id'].dropna()
plays_fin['first_staged'] = plays_fin['first_staged'].dropna()

In [49]:
# def inty(col):
#     count = 0
#     for i in plays_fin[col]:
#         ints = []
#         for j in i:
#             if not math.isnan(j):
#                 ints.append(int(j))
#         plays_fin[col][count] = ints

In [50]:
# inty('character_id')

In [51]:
# filename = 'plays_float.csv'
# plays_fin.to_csv(filename, encoding='utf8')

In [56]:
final_plays = pd.read_csv('plays_exp.csv')
final_plays = final_plays.drop('Column',1)

In [58]:
# filename = 'plays_exp.json'
# final_plays.to_json(filename, orient='records', force_ascii=False)